<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Running Gulp tools -->
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="semantic/dist/semantic.min.js"></script>

  <title>Sayfe Word</title>

  <!-- Personal CSS -->
  <link rel="stylesheet" href="index.css">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>

  <!-- Semantic UI CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>

<body>

  <div class="left-side">
    <div class="profile ui card">
      <div class="content">
        <div class="heading">Profile</div>
        <div class="info"><b>name: </b><div class="inline" id="name"></div></div>
        <div class="info"><b>phone: </b><div class="inline" id="phone"></div></div>
        <div class="info"><b>address: </b><div class="inline" id="address"></div></div>
      </div>
    </div>
    <div class="analysis ui card">
      <div class="content" id="analysis">
        <div class="heading">Analysis</div>
        <div class="analys"><b class="info">Audio</b><div class="ana" id="audio"><i class="big circle icon"></i>Audio analysis will show up here</div></div>
        <div class="analys"><b class="info">Photo</b><div class="ana" id="photo"><i class="big circle icon"></i>Picture analysis will show up here</div></div>
        <div class="analys"><b class="info">Overall</b><div class="ana" id="danger"><i class="big circle icon"></i>Overall analysis will show up here</div></div>
      </div>
      <img id="image">
      <audio controls id="sound">
        <source src="" type="audio/wav">
      </audio>
      <div id="textbox"><b class="info">Transcription</b><br></div>
    </div>
    <!-- Makes flashing in danger button -->
    <!--<button type="submit" class="flashing-button">In danger!</button>-->
  </div>

  <!--<%= test %>-->
  <div id="mapid"></div>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>

  <!-- Socket.io JS -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Jquery JS -->
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- Semantic UI JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

  <!-- Personal JS -->
  <script src="/index.js"></script>
</body>
</html>
